Dados Completo.xlsx 
Dados.xlsx

Estudos de Gênero Completo.xlsx 
Estudos de Gênero.xlsx 

Estudos Raciais Completo.xlsx 
Estudos Raciais.xlsx 

Metricis Completo.xlsx 
Metricis.xlsx 

NDPI Completo.xlsx 
NDPI.xlsx 

Saúde Completo.xlsx 
Saúde.xlsx 

Pessoas no Setor Público Completo.xlsx 
Pessoas no Setor Público.xlsx 

Política Educacional e Inclusão Produtiva Completo.xlsx 
Política Educacional e Inclusão Produtiva.xlsx 

Sergio_Lazzarini.xlsx